{% extends 'main.html' %}

{% block navbar %} 
{% include 'nav.html' %}
{% endblock %} 

{% block content %}



{% include 'account/status.html' %} 

<div class="row">
    <div class="col-md-5">
        <h3>Customer : </h3>
        <hr>
        <div class="card card-body">
            <a href="#" class="btn btn-primary btn-sm ">Create Customer</a>
            <table class='table'>
                <tr>
                    <th></th>
                    <th>Customer</th>
                    <th>Phone</th>
                </tr>
                {% for customer in customers %} 
                    <tr>
                        <td> <a href="{% url 'customer' customer.id %}" class="btn btn-sm btn-warning">view</a></td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.phone }}</td>
                    </tr>
                {% endfor %} 
            </table>
        </div>
    </div>



    <div class="col-md-7">
        <h3>Last 5 Order : </h3>
        <hr>
        <div class="card card-body">
            <table class='table'>
                <tr>
                    <th>Product</th>
                    <th>Date Order</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>

                </tr>
                {% for order in orders %} 
                    <tr>
                        <td>{{ order.Product.name }}</td>
                        <td>{{ order.date_created }}</td>
                        <td>{{ order.status }}</td>
                        <td><a href="{% url 'update-order' order.id %}" class="btn btn-sm btn-info ">Update</a></td>
                        <td><a href="{% url 'delete-order' order.id %}" class="btn btn-sm btn-danger">Remove</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}