<div class="row my-3">
    <div class="col">
        <div class="col-md">
            <div class="card text-center status" id="total_order">
                <div class="card-header">
                    <h5 class="card-title">Total Order</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ total_order }}</h3>
                </div>

            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center status" id="delivered-order">
                <div class="card-header">
                    <h5 class="card-title">Order Delivered</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{delivered}}</h3>
                </div>

            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center status" id="pending_order">
                <div class="card-header">
                    <h5 class="card-title">Order Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ pending }}</h3>
                </div>

            </div>
        </div>
    </div>
</div>